<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>start.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F003829F1CD88BF400E2BE66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F00382AE1CD88BF400E2BE66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F00382B91CD88BF400E2BE66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
